/* Réinitialisation générale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps de la page */
body {
    font-family: 'Poppins', sans-serif; /* Application de la nouvelle police */
    padding-top: 60px; /* Espace pour le header fixe */
    background-color: #FAF0E6; /* Beige lin délicat */
    flex: 1;
}

/* Conteneur principal pour centrer le contenu */
.container {
    width: 60%; /* Largeur à 60% */
    margin: 0 auto;
    flex: 1;
}

/* Header */
header {
    background-color: #394228; /* Couleur claire */
    color: #FAF0E6; /* Texte en noir */
    padding: 5px 0; /* Diminuer le padding vertical pour le header */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

/* Navigation */
nav {
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
    justify-content: center; /* Centre horizontalement tous les éléments */
    height: 50px; /* Réduction de la hauteur pour un header moins volumineux */
}

/* Liens de navigation */
nav ul {
    list-style: none;
    display: flex;
    margin: 0; /* Suppression de la marge */
}

nav ul li {
    margin: 0 2px; /* Réduire l'espace entre chaque lien pour les rapprocher encore plus */
}
nav ul li a {
    color: #FAF0E6; /* Texte en noir */
    text-decoration: none;
    font-size: 24px; /* Augmenter la taille de police */
    font-weight: 600; /* Gras pour le texte */
    padding: 5px; /* Diminuer le padding autour des liens */
    transition: color 0.3s ease; /* Transition pour le changement de couleur */
}

nav ul li a:hover {
    color: #B8E986; /* Gris clair au survol */
}

/* Logo centré */
.logo img {
    max-width: 120px; /* Augmentez la taille du logo */
    height: auto;
}

.logo img {
    max-width: 70px; /* Augmentez la taille du logo */
    height: auto;
}

.nav-left, .nav-right {
    display: flex;
    flex: 1; /* Prend toute la place disponible */
    justify-content: center; /* Centre les éléments */
    margin: 0 5px; /* Réduit l'espace autour des groupes de liens */
}


.nav-left {
    margin-right: 5px; /* Réduit l'espace à droite des liens de gauche */
}

.nav-right {
    margin-left: 5px; /* Réduit l'espace à gauche des liens de droite */
}

/* Hero Section */
/* Vidéo en arrière-plan */
.video-container {
    position: absolute; /* Positionner la vidéo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Prendre toute la hauteur */
    z-index: -1; /* Envoyer la vidéo derrière le contenu */
    overflow: hidden; /* Pour éviter les débordements */
}

.video-container video {
    width: 100%; /* S'assurer que la vidéo prend toute la largeur */
    height: 100%; /* S'assurer que la vidéo prend toute la hauteur */
    object-fit: cover; /* Couvrir l'élément sans déformer */
}

/* Section Hero */
.hero {
    background-color: transparent;
    height: 80vh;
    display: flex;
    flex-direction: column; /* Place les éléments en colonne */
    align-items: center; /* Alignement des éléments à gauche */
    justify-content: center; /* Centrage vertical */
    color: #FAF0E6;
    padding-left: 20px; /* Ajoute de l'espace à gauche pour décaler les éléments */
}

.hero h2 {
    font-size: 50px;
    margin-bottom: 10px; /* Ajoute un espacement pour éviter qu'ils soient trop proches */
}

.hero p {
    font-size: 24px;
    margin: 10px 0 20px; /* Espace autour du paragraphe */
}

.hero .btn {
    background-color: #1DB954;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    align-self: center; /* Positionne le bouton à gauche */
}


.hero .btn:hover {
    background-color: #32A852; /* Vert gazon */
}

/* Footer */
footer {
    background-color: #394228; /* Vert encore plus foncé */
    color: #FAF0E6; /* Beige lin délicat */
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #FAF0E6; /* Beige lin délicat */
    text-decoration: none;
}

footer a:hover {
    color: #B8E986; /* Vert pomme */
}

/* Aperçu des Sections */
.overview {
    display: flex;
    justify-content: space-around;
    background-color: #FAF0E6;
    padding: 50px 0;
    text-align: center;
}

.overview-item {
    width: 30%;
    background-color: #B8E986;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #4B5320;
    color: #013220;
}

.overview-item h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.overview-item p {
    font-size: 18px;
    margin-bottom: 20px;
}

.overview-item .btn {
    background-color: #1DB954;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.overview-item .btn:hover {
    background-color: #32A852;
}
