<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/">
    <title>Acceuil Emerauld Wilds Zoo</title>
</head>
<body>
    <header>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                {{ message }}
                </div>
            {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
    </header>
</body>
</html>
