body{
    background-color: 	#FFF5EE;
    padding-top: 150px;
}

.header {
    background-color: #03bb8423;
    width: 100%; /* occupe toute la largeur */
    height: 7%;
    position: absolute; /* retire le header du flux de document normal */
    top: 0; /* positionne le header au haut de la page */
    left: 0; /* positionne le header à gauche de la page */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Ajoutez cela pour espacer les éléments */
}




.name {
    margin-left: auto; /* Ajoutez cette propriété pour pousser le .name à droite */
    margin-right: 10px; /* Ajoutez une petite marge à droite de l'élément .name */
    font-size: 20px;
    cursor: pointer;
}

.button{
    align-items: center;
    border: 0cm;
    background-color: #03bb8400;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #dddddd00; /* Add a light border around the button */
    border-radius: 5px; /* Add a slight border radius to the button */
    margin: 15px;
}
.button:hover{
    transform: scale(1.1); /* Scale the button up by 10% on hover */
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
    background-color: #03bb8417;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.116); /* Add a subtle box shadow on hover */
}

.generateur {
    font-size: 20px;
    max-width: 600px;
}

.imagegenerateur {
    display: inline-block; /* add this */
    float: right;
    margin: 10px; /* add some margin to create space between the image and the paragraph */
}